#header {
    box-shadow: 0 5px 20px #888888;
    margin-bottom: 30px;
}

.header__container {
    background-color: rgb(39, 39, 39);
    text-align: center;
}

.header__logo {
    height: 250px;
}

.header_menu {
    background-color: rgb(39, 39, 39);
    height: 50px;
}

.header_menu__container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    font-size: 24px;
    color: white;
}

.header_menu__tabs-left {
}

.header_menu__tabs-right {
    margin-left: auto;
}

.header_menu__button {
    display: inline-block;
    padding: 0 10px;
    width: 75px;
    text-align: center;
    margin-left: auto;
}

.header_menu__tabs {
    width: 100%;
    font-size: 16px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.header_menu a {
    margin: 0 auto;
    color: white;
    text-decoration: none;
}