#header {
    box-shadow: 0 5px 20px #888888;
    margin-bottom: 30px;
}

.header_logo__container {
    background-color: rgb(39, 39, 39);
    text-align: center;
}

.header_logo__image {
    height: 250px;
}

.header_menu {
    background-color: rgb(39, 39, 39);
    height: 50px;
}

.header_menu__container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    color: white;
    font-size: 16px;
    box-shadow: inset 0 -1px 0 #333;
}

.header_menu__container > ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.header_menu__container a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.3s;
}

.header_menu__container a:hover {
    box-shadow: inset 0 -5px 0 #fff;
}

.header_menu__tabs-left {
    float: left;
    width: 100px;
}

.header_menu__tabs-right {
    float: right;
    width: 100px;
}