.twitch {
    text-align: center;
    height: 480px;
    margin: 10px;
    box-shadow: 0 0 20px #ccc;
}

.matches {
    max-width: 1200px;
    display: flex;
    margin: 5px 32px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s;
}

.match {
    margin: 10px 10px;
    border-radius: 2px;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 0px 0px 20px #ccc;
    width: 300px;
    z-index: 1;
}

table {
    font-size: 14px;
    width: 100%;
}

.right {
    text-align: right;
}

.meta {
    font-size: 12px;
    color: #888;
    padding-bottom: 8px;
}

.slick-next:before, .slick-prev:before {
    color: rgb(255, 153, 0)
}

.button {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 5px;
    padding: 14px 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

.esea {
    background-color: #0E9648;
}

.discord {
    background-color: #26262B;
}

.discord a {
    width: 100%;
    color: white;
    text-decoration: none;
}