body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(48, 48, 50);
}

form {
    text-align: center;
}

.flex-body {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.text-center {
    text-align: center !important;
}

#content {
    margin: 0 auto;
    max-width: 1200px;
    display: block;
}

.content_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main_col {
    flex: 7;
}

.secondary_col {
    flex: 3;
}

.card {
    margin: 10px;
    background-color: white;
    text-align: left;
    box-shadow: 0px 0px 20px #222;
    border: 2px solid #ddd;
    padding: 30px;
}

.submit-button {
    margin: 10px;
    height: 40px;
    width: 300px;
    border: 1px solid #5D79AE;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    transition: box-shadow 0.1s;
    cursor: pointer;
}

.submit-button:focus {
    border-radius: 5px;
}

.submit-button:hover {    
    box-shadow: 0 0px 10px #bbb;
}

.submit-button:disabled {
    cursor: default;
    box-shadow: none;
    border: 1px solid #eee;
    background-color: #eee;
}

.flashes {
    list-style: none;
    padding: 12px;
    font-size: 18px;
}

.error {
    border: red solid 2px;
    background-color: #ffeef1;
}

.success {
    border: green solid 4px;
    background-color: rgb(218, 255, 163);
}