body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(244, 244, 244);
}

#content {
    margin: 0 auto;
    max-width: 1200px;
    display: block;
}

.content_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main_col {
    flex: 7;
}

.secondary_col {
    flex: 3;
}

.card {
    margin: 10px;
    background-color: white;
    text-align: left;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 5px;
    padding: 30px;
}

input {
    width: 250px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    transition: box-shadow 0.1s;
}

input:focus {
    border-radius: 5px;
}

input:hover {    
    box-shadow: 0 0px 10px #bbb;
}

input:disabled {
    cursor: default;
    box-shadow: none;
}

#submit {
    cursor: pointer;
}

.flashes {
    list-style: none;
    padding: 12px;
    font-size: 18px;
}

.error {
    border-left: red solid 6px;
    background-color: pink;
}

.success {
    border-left: green solid 6px;
    background-color: greenyellow;
}