form {
    display: block;
}

.register {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.input_group {
    min-width: 400px;
    flex-basis: 50%;
}

#submit {
    border: 0;
    background-color: rgb(255, 153, 0);
    color: white;
    width: 300px;
    margin: 50px;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    box-shadow: 0 0px 10px #ddd;
}