#resend {
    width: 300px;
    border: 1px solid #5D79AE;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    transition: box-shadow 0.1s;
    cursor: pointer;
}

#resend:hover {
    box-shadow: 0 0px 10px #bbb;
}