.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

#search-form {
    display: flex;
}

.search-label {
    font-size: 46px;
    font-family: 'Jockey One';
    color: #DE9B35;
    margin: 20px;
    letter-spacing: 1px;
}

.schools-search {
    width: 400px;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
    border: 0;
    border-radius: 4px 0 0 4px;
}

#search-button {
    height: 50px;
    width: 100px;
    font-size: 18px;
    padding: 2px;
    border-radius: 0 4px 4px 0;
    border: 0;
    cursor: pointer;
    background-color: #FF850A;
    color: white;
    font-family: 'Jockey One';
}

.tt-hint {
    color: #aaa;
}

.tt-menu {
    border-radius: 4px;
    width: 420px;
    background-color: white;
    margin: 5px 0;
}

.tt-suggestion {
    text-align: start;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    padding: 0 10px;
    margin: 4px 0;
    cursor: pointer;
}

.tt-suggestion:hover {
    background-color: gray;
}

.school-banner__name {
    font-size: 36px;
    font-weight: bold;
    padding: 40px;
    text-align: center;
}