{% extends "base.html" %}
{% block title %}{{ school.abbrev }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/schools.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/teams.css') }}">

<div class="card">
    <img class="school-banner__img" src="{{ school.logo_path }}">

    <div class="school-banner__name">
        {{ school.name }}
    </div>

    <div class="school-banner__location">
        {{ school.city }}, {{ school.state }} {{ school.country.name }}
    </div>
    
IN DEVELOPMENT
</div>

{% endblock %}