<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>{% block title %}{% endblock %} - NACCS</title>

    <div id="header">
      <div class="header_menu">
        <div class="header_menu__container">
          <ul>
            <li class="header_menu__tabs-left"><a href="/">Home</a></li>
            {% if session['access_token'] is defined %}
            <li class="header_menu__tabs-right"><a href="/signout">Sign Out</a></li>
            <li class="header_menu__tabs-right"><a href="/user">{{ username }}</a></li>
            {% else %}
            <li class="header_menu__tabs-right"><a href="/register">Register</a></li>
            <li class="header_menu__tabs-right"><a href="/signin">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="header_logo__container">
        <a href="/"><img class="header_logo__image"
            src="{{ url_for('static', filename='assets/headerbanner.png') }}"/></a>
      </div>
    </div>

    {% endblock %}
  </head>
  <body>
    <div id="content"><div class="content_container">{% block content %}{% endblock %}</div></div>
  </body>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <footer>
    <div id="footer">
      {% block footer %}
      <div class="footer__container">
        &copy; Copyright 2019 NACCS.
      </div>
      {% endblock %}
    </div>
  </footer>
</html>