<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>{% block title %}{% endblock %} - NACCS</title>

    <div id="header">
      <div class="header__container">
        <a href="/"><img href="/" class="header__logo"
            src="{{ url_for('static', filename='assets/headerbanner.png') }}"/>
        </a>
      </div>
    </div>
    <div class="header_menu">
      <div class="header_menu__container">
        <div class="header_menu__tabs">
            <a href="/"><div class="header_menu__button_left">Home</div></a>
            {% if session['username'] is defined %}
            <a href="/signout"><div class="header_menu__button">Sign Out</div></a>
            <a href="/user"><div class="header_menu__button">Account</div></a>
            {% else %}
            <a href="/register"><div class="header_menu__button">Register</div></a>
            <a href="/signin"><div class="header_menu__button">Sign In</div></a>
            {% endif %}
        </div>
      </div>
    </div>

    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <div id="footer">
      {% block footer %}
      <div class="footer__container">
        &copy; Copyright 2019 NACCS.
      </div>
      {% endblock %}
    </div>
  </body>
</html>