{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="main_col">
    <div class="card">
      <h1>North American Collegiate Counter-Strike</h1>
      <p>
        Welcome to the work in progress NACCS website! In order to have general permissions in our discord, you must have an authenticated and verified email on this website.
      </p>
      <p>If you're a college student, sign up today!</p>
      <p>We're working on getting match pages, queues, and twitch streams on this website.</p>

      <p>So check back soon for any updates!</p>

      <p>- NACCS</p>
    </div>
  </div>
  <div class="secondary_col">
    <div class="card small">
      <h2>Quick links</h2>
      <ul>
        <li>
          <a href="https://play.esea.net/club/70">ESEA Club</a>
        </li>
        <li>
          <a href="https://discord.gg/7gM6gjy">Discord</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}