{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    
    <div class="content_flex">
        <div class="main_col">
            <div class="card text-center">
                <h1>Join Collegiate CS:GO Today</h1>

                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    <ul class="flashes success">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    <ul class="flashes error">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                <div class="register">
                    <form action="" method="POST">
                        {{ form.csrf_token() }}

                        <div class="register input_group">
                            <label for="inp" class="inp">
                                {{ form.username }}
                                <span class="label">{{ form.username.label() }}</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <div class="register input_group">
                            <label for="inp" class="inp">
                                {{ form.email }}
                                <span class="label">{{ form.email.label() }}</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <div class="register input_group">
                            <label for="inp" class="inp">
                                {{ form.password }}
                                <span class="label">{{ form.password.label() }}</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <div class="register input_group">
                            <label for="inp" class="inp">
                                {{ form.verify_pass }}
                                <span class="label">{{ form.verify_pass.label() }}</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <div class="register input_group">
                            <label for="inp" class="inp">
                                {{ form.discord }}
                                <span class="label">{{ form.discord.label() }}</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <div class="register input_group">
                            <label for="inp" class="inp">
                                {{ form.esea }}
                                <span class="label">{{ form.esea.label() }}</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <br>
                        
                        <label for="inp" class="inp">
                            {{ form.submit }}
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}