{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="content_flex">
        <div class="main_col">
            <div class="card">
                <h1>Sign In Page</h1>

                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    <ul class="flashes success">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    <ul class="flashes error">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                <form action="" method="POST">
                    {{ form.csrf_token() }}

                    {% for field in form if field.name != "csrf_token" %}
                        <p>{{ field.label() }}</p>
                        <p>{{ field }}</p>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}