{% extends "base.html" %}
{% block title %}Verification{% endblock %}

{% block content %}
    <div class="card">
        <h1>Verify</h1>
        
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            <ul class="flashes success">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <ul class="flashes error">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    
        <p>We've sent you an e-mail. Please enter the verification code below.</p>

        <form action="" method="POST">
            {{ form.csrf_token() }}

            <p>{{ form.code.label() }}</p>
            <p>{{ form.code }} <input type="submit" name="resend" value="Resend E-Mail"></p>

            <p>
            {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}