{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
<div class="card">
        <p>
                <h1 style="text-align: center;"> NACCS Summer League Rules</h1>
                        <br>
                        <h2>1. Player Eligibility </h2>

                        Participating player(s) must fall under one of the following criteria(s) to be eligible to compete in NACCS Summer League:
                        <ul>
                        <li>Attended a college or university during the 2018-2019 school year;</li>
                        <li>Or going to attend a college or university for the 2019-2020 school year.</li>
                        <li>In other words, any player who is currently in NACCS’s Competitive Queue, found here - <br><a target="_blank" href="https://play.esea.net/club/70">https://play.esea.net/club/70</a>, is eligible to compete in NACCS Summer League (excluding college graduates from 2017-2018 school year and earlier). </li>
                        </ul>
                        <h2>2. Team Eligibility Guideline(s) </h2>

                        <h4>Division 1 Team Eligibility</h4>
                        Participating player(s) who competed on their school’s Division 1 (Varsity) team during the 2018-2019 school year are required to compete with their school’s Division 1 team in NACCS Summer League. If a school’s Division 1 team has one or more players that are unable to compete in NACCS Summer League due to extenuating circumstances (vacation, sickness, etc.), then the Division 1 team is allotted up to three replacement player(s) from any college or university of equal or lesser skill level to the original school’s Division 1 player(s) that the replacement player(s) are replacing. The equal or lesser skill threshold for replacement player(s) will be determined by NACCS.
                        <br><br>
                        If a Division 1 team is missing three or more players due to extenuating circumstances, then the remaining two or less player(s) on the Division 1 team may follow the Multi-College Team Eligibility guideline(s).
                        <br>
                        <h4>Division 2 Team Eligibility</h4>
                        Participating player(s) who competed on their school’s Division 2 (Junior Varsity) team during the 2018-2019 school year are required to compete with their school’s Division 2 team in NACCS Summer League. If a school’s Division 2 team has one or more players that are unable to compete in NACCS Summer League due to extenuating circumstances (vacation, sickness, etc.), then the Division 2 team is allotted up to three replacement player(s) from any college or university of equal or lesser skill level to the original school’s Division 2 player(s) that the replacement player(s) are replacing. The equal or lesser skill threshold for replacement player(s) will be determined by NACCS.
                        <br><br>
                        If a Division 2 team is missing three or more players due to extenuating circumstances, then the remaining two or less player(s) on the Division 2 team may follow the Multi-College Team Eligibility guideline(s).

                        <br>
                        <h4>Multi-College Team Eligibility</h4>
                        Participating player(s) who did not compete under their school’s Division 1 or Division 2 team(s) during the 2018-2019 school year are allowed to do the following:
                        Create a team with other participating player(s) from other colleges or universities;
                        Or join a pre-existing Division 1 or Division 2 team as a replacement player.

                        <h4>Multi-College Super Team Disqualification Guideline(s)</h4>
                        Any multi-college team(s) that consist of three or more advanced, MDL or professional experienced players will be disqualified from competing in NACCS Summer League. The only exclusion to this rule is if a Division 1 or Division 2 team follows their particular Team Eligibility Guideline(s).
                        <br><br>
                        <h2>3. Registration </h2>

                        <h3>NACCS Summer League registration will be open starting May 10th, 2019 until June 7th, 2019. </h3>

                        All participating player(s) must create a verified NACCS account at <a target="_blank" href="https://www.collegiatecounterstrike.com/">https://www.collegiatecounterstrike.com/ </a> and be a member is NACCS's queue, found here - <a target="_blank" href="https://play.esea.net/club/70">https://play.esea.net/club/70</a>.
                        <br><br>
                        All participating player(s) must have an ESEA account with an active ESEA premium or insider subscription, found here - <a target="_blank" href="https://play.esea.net/subscribe/?r=985529">https://play.esea.net/subscribe/?r=985529</a>. and ESEA’s Client downloaded, found here - <a target="_blank" href="https://play.esea.net/index.php?s=downloads&d=view&id=1">https://play.esea.net/index.php?s=downloads&d=view&id=1</a>, in order to compete in NACCS’s Summer League.
                        <br><br>
                        NACCS Summer League fee will be $7.50 per player. The maximum allotted roster size will be 8 players. Team(s) are allowed to use any of the paid players on their roster at any given time during the tournament, whether it’s in the middle of an ongoing match or different matches.
                        <br>

                        <h4>How to Pay Entrance League Fee</h4>
                        In order to pay for your NACCS Summer League Fee, you must do one of the following: 1) create a NACCS Summer League team; 2) or be on a NACCS Summer League team roster.<br><br>

                        <h4>How to Create A Team</h4>
                        A player can create a team by going to the homepage of NACCS’s website and clicking NACCS Summer League located near the top right of the page. Then, click Create Team located near the bottom of the page. Fill out the necessary information required to create a team then click Create Team. Your team has now been created. Make sure to not forget your password since NACCS currently does not have the technology to retrieve it!
                        <br><br>
                        Team(s) are required to represent the college or university that furnishes the most players on a particular roster. In the event that a team has five players from five different colleges or universities on the roster, then the roster captain’s school will be represented. All team names are required to represent the college or university in some way, shape or form. For example, University of California, Irvine could potentially be named “Golden Anteaters” or “UCI GOLD.” Please refrain from using racist or derogatory terms in your team names. NACCS will contact any team that fails to adhere to these guidelines.
                        <br>
                        <h4>How to Join A Team</h4>
                        To join a team, simply click on NACCS Summer League on the front page of NACCS’s website and find the team that you wish to join. Once you find the team that you wish to join, click on the team’s name and insert that team’s specific password and press Join Team. Upon doing so, you will be added to that team’s roster.
                        <br><br>
                        Only teams with at least five paid players on NACCS’s website prior to registration close will be placed into the NACCS Summer League bracket. Once registration closes, all team rosters will be locked for the duration of NACCS Summer League. Any alteration(s) of roster(s) after roster lock will be handled on a case-by-case basis by NACCS.
                        <br>
                        <h2>4. Schedule </h2>

                        NACCS Summer League will last a total of 4 weeks long. Matches will start June 15th, 2019 until July 14th, 2019. Quarter-finals, Semi-finals, and Finals will be played during Champion Weekend - July 13th & 14th. 

                        <h4>Default Match Times</h4>
                        Monday 6 P.M. Pacific Standard Time (PST)<br>
                        Saturday 6 P.M. Pacific Standard Time (PST)

                        <h4>Default Match Schedule</h4>
                        Upper Bracket Round 1 - Saturday, June 15th at 6 P.M. PST<br>
                        Upper Bracket Round 2 & Lower Bracket Round 1 - Monday, June 17th at 6 P.M. PST<br>
                        Upper Bracket Round 3 & Lower Bracket Round 2 - Saturday, June 22nd at 6 P.M. PST<br>
                        Upper Bracket Round 4 & Lower Bracket Round 3 - Monday, June 24th at 6 P.M. PST<br>
                        Upper Bracket Round 5 & Lower Bracket Round 4 - Saturday, July 6th at 6 P.M. PST<br>
                        Upper Bracket Round 6 & Lower Bracket Round 5/6 - Monday, July 8th at 6 P.M. PST<br>

                        <h4>Championship Weekend</h4>
                        Quarter-finals (Lower Bracket Round 7/8) - Saturday, July 13th at 3 P.M. PST<br>
                        Semi-finals (Lower Bracket Round 9) - Saturday, July 13th at 6 P.M. PST<br>
                        Finals (Championship Round) - Sunday, July 14th at 3 P.M. PST<br>

                        <h4>Rescheduling</h4>
                        If one team is unable to play at the designated Default Match Time then both teams are <b>REQUIRED</b> to communicate with one another to reschedule the match BEFORE the next designated Default Match Time.<br><br> Once both teams agree upon a rescheduled time and date for their particular match, <b>BOTH</b> team captains must immediately fill out a Match Reschedule Application Form to document the specific details of the rescheduled match.<br>
                        <br>
                        <h4>Match Reschedule Application Form:</h4>
                        <a href="https://docs.google.com/forms/d/1N_4pdKsFdiFeP6vzKWQoy9ZvDRp7UaXQ6rf8Z8Xz8CM/prefill">[https://docs.google.com/forms/d/1N_4pdKsFdiFeP6vzKWQoy9ZvDRp7UaXQ6rf8Z8Xz8CM/prefill]</a>
                        <br>
                        <br>
                        Rescheduled matches will not be played through ESEA’s Event system. All rescheduled matches will be played through ESEA’s scrims. Teams will be entirely responsible for creating and running each scrim. Disclaimer: There is no match medic for ESEA scrim servers so reschedule at your own risk. Once the matches for the rescheduled best of three (BO3) are concluded, the winning team’s captain must immediately fill out a Match Reschedule Result Form to document the rescheduled match results in order for ESEA to accurately and swifty update the ESEA Event Bracket.
                        <br>
                        <br>
                        <h4>Rescheduled Match Result Form:</h4>
                        <a href="https://docs.google.com/forms/d/1yRbIajZFa3fsRtvAlUYVNxrk3TXglG2-Qacvj1eKACk/prefill">[https://docs.google.com/forms/d/1yRbIajZFa3fsRtvAlUYVNxrk3TXglG2-Qacvj1eKACk/prefill]</a>
                        <br>
                        Both teams are required to choose whichever server results in the most similar average ping between both teams. For example, Team A has 55 average ping and Team B has 53 average ping on X server. 
                        <br><br>
                        In the unlikely event that both teams are unable to find a feasible rescheduled match time then NACCS will personally act as a mediator to resolve the reschedule conflict. NACCS reserves the right to determine which team will receive the forfeit win and which team will receive the forfeit loss in the unlikely situation where neither team, despite the NACCS mediation session, were unable to come to a rescheduling resolution. 



                        
                        <h2>5. Prizing</h2>

                        NACCS Summer League prize pool will be primarily generated from each player registration league fee. Therefore, the cash distribution prizing will remain the same; however, the definitive prize pool amount will not be officially released until NACCS Summer League registration has officially closed.<br><br> Prize pool: $1,600.
                        <ul>
                          <li>1st Place: 50% of the prize pool</li>
                          <li>2nd Place: 25% of the prize pool</li>
                          <li>3rd Place: 15% of the prize pool</li>
                          <li>4th Place: 10% of the prize pool</li>
                        <br>
                        </ul>
                        The most insane highlight clip from NACCS Summer League will received the following prize:
                        <ul>
                        <li>1st Place: $30</li>
                        <li>2nd Place: $20</li>
                        </ul>
                        <h2>6. Tournament Format</h2>

                        NACCS Summer League will be a best of 3 (bo3) double elimination bracket. The bracket will be carefully handcrafted and scrutinized by NACCS in order to insure an equal skill distribution of teams throughout the entire bracket.
                        <br><br>
                        The finals will be best of 5 (bo5) with the upper bracket finalist team gaining an one map advantage over the lower bracket finalist team.
                        <br><br>
                        <h4>Map Pool</h4>
                        NACCS Summer League will be using ESEA’s current competitive map pool, found here:
                        <ul>
                        <li>Inferno</li>
                        <li>Train</li>
                        <li>Overpass</li>
                        <li>Mirage</li>
                        <li>Nuke</li>
                        <li>Dust 2</li>
                        <li>Vertigo</li>
                        </ul>

                        <h4>Pick & Ban Process</h4>

                        NACCS will invite the team captains from each upcoming round of match-ups into NACCS’s private Discord text channels to do the map veto process. All team captains are REQUIRED to do the map veto process in their designated NACCS Discord text channel. This will allow ESEA to glance at each text channel to determine the map pool for each best of 3 (BO3). <br><br>
                        
                        All map vetoes for default match times must be completed and submitted by the day prior to the default match time. For example, if your match is on Saturday, June 15th (Default Match Time) then your map vetoes should have been completed and submitted sometime by Friday, June 14th. Failure to do so will result in NACCS doing the map vetoes for your team. <br>
                        <ul>
                        <li>Home bans 1 map</li>
                        <li>Away bans 1 map</li>
                        <li>Home picks 1 map</li>
                        <li>Away picks 1 map</li>
                        <li>Home bans 1 map</li>
                        <li>Away bans 1 map</li>
                        <li>Remaining map will be map 3</li>
                        </ul>
                        <h4>Match Check-In & Forfeit Guideline(s)</h4>
                        Each team will have a 15 minute grace period after the designated match time to have at least 4 players in the designated match server. If a team fails to furnish at least 4 players in the designated match server by the end of the 15 minute grace period, then the team that failed to furnish at least 4 players in the designated match server will automatically forfeit their match. Forfeit(s) will count as a 2-0 (16-0, 16-0) victory for the opposing team.
                        <br><br>
                        To receive a forfeit win, simply type “.reportffw” in the general chat with 5 players from your team in the server after the completion of the 15 minute grace period. ESEA’s automated server system will notify the reporting team in the server’s general chat once the forfeit win has successfully gone through. Please do not leave the server until you receive this message in the server’s general chat.
                        <br><br>
                        Team are allowed to forfeit at any given time throughout the tournament. If a team forfeits a match, the opposing team will receive a 2-0 (16-0, 16-0) victory for the match. The team receiving the forfeit win can do one of the following to receive the forfeit win: open up an ESEA Support Ticket with some form of documentation (chat logs, screenshots, etc.) showing written confirmation of the forfeit from the forfeiting team; Or join the designated match server and wait 15 minutes after the allotted match time to type “.reportffw” to receive the forfeit win. If an ESEA admin does not give confirmation of the forfeit win, then report to the match at the designated time to receive the forfeit win.
                        <br>
                        <br>
                        <h4>Team Pause Guideline(s)</h4>
                        Each team is allowed four tactical pauses for 30 seconds each. Simply type “.tac” in chat for a tactical pause. <br><br>
                        
                        Each team is allowed unlimited technical pauses up to 5 minutes each. Simply type “.tech” in chat followed by the reason for the technical pause in general chat to notify the other team of the technical pause. However, if a team is unable to resolve their technical issue after 5 minutes, then the other team is allowed to unpause the match after notifying the pausing team that their time is up. Simply type “.unpause” in general chat to resume the match. NACCS requires that all teams to be understanding and reasonable of one another during technical pauses. Any team(s) found abusing the technical pause system will be subject to suspension and/or forfeiture of the match.
                        <br><br>
                        If a team is having tournament server issues for whatever reason, please contact ESEA Support by opening up an ESEA Support Ticket, found here - <a href="https://play.esea.net/index.php?s=support&d=tickets">https://play.esea.net/index.php?s=support&d=tickets. </a>

                        <h2>7. Conduct Guideline(s)</h2>
                        All players must adhere to NACCS Player Guideline rules, found here - <a target="_blank" href="https://play.esea.net/index.php?s=clubs&d=rules&club_id=70">https://play.esea.net/index.php?s=clubs&d=rules&club_id=70</a>. Player(s) who fail to adhere to these guideline(s) will be removed from NACCS Summer League. NACCS reserves the right to penalize team(s) that fail to adhere to NACCS Player Guidelines.
                        <br><br>
                        Any team failing to adhere to any of the guideline(s) listed in NACCS Summer League Rules may be subject to immediate suspension and/or removal from NACCS Summer League without a refund.
                        <br>
                        <h2>8. Broadcasting</h2>
                        NACCS encourages player(s) to stream their matches from their point of view. With that being said, all stream(s) are required to have at least a 1 minute delay. Even though stream cheating is prohibited, stream at your own risk. Is it near impossible to definitively prove whether a team is stream cheating or not.
                        <br><br>
                        NACCS reserves the exclusive right to broadcast any of the NACCS Summer League matches. <br>
                </p><br>
                        <p class="fineprint">
                                There are no refunds for NACCS Summer League Entrance Fees <br>
                                This is a living document, and may be modified at any time at the sole discretion of NACCS. NACCS also reserve the right to make and enforce rulings not covered in this document as situations arise.  <br>

                        </p>


        </div>
{% endblock %}
