{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">

    <div class="content_flex">
        <div class="main_col">
            <div class="card text-center">
                <h1>Sign In</h1>

                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    <ul class="flashes success">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    <ul class="flashes error">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                <div class="flex-container">
                    <form action="" method="POST">
                        {{ form.csrf_token() }}

                        <label for="inp" class="inp">
                            {{ form.email_or_username }}
                            <span class="label">{{ form.email_or_username.label() }}</span>
                            <span class="border"></span>
                        </label>

                        <label for="inp" class="inp">
                            {{ form.password }}
                            <span class="label">{{ form.password.label() }}</span>
                            <span class="border"></span>
                        </label>

                        <label for="inp" class="inp">
                            {{ form.submit }}
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}