{% extends "base.html" %}
{% block title %}User{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
  <div class="card center">
    <h1>User Page</h1>

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        <ul class="flashes success">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        <ul class="flashes error">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form action="" method="POST">
      {{ form.csrf_token() }}
      
      <label for="inp" class="inp">
          <input disabled class="input" value="{{ user['username'] }}">
          <span class="label">Username</span>
          <span class="border"></span>
      </label>

      <label for="inp" class="inp">
          <input disabled class="input" value="{{ user['email'] }}">
          <span class="label">Email</span>
          <span class="border"></span>
      </label>

      <label for="inp" class="inp">
          {{ form.discord }}
          <span class="label">Discord</span>
          <span class="border"></span>
      </label>

      <label for="inp" class="inp">
          <input disabled class="input" value="{{ user['esea'] }}">
          <span class="label">ESEA Profile</span>
          <span class="border"></span>
      </label>

      <p>{{ form.submit }}</p>
    </form>

    <a class="secondary-button" href="/changepassword">Change Password</a>
  </div>
{% endblock %}